* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

.container {
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.keys {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.key {
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .09s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgb(17, 81, 160);
}

.playing {
    transform: scale(1.1);
    border: 5px solid #ffc400;
    box-shadow: 0 0 1rem #00c8ff;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ced5ff;
}